{% extends '../base.html' %}
{% load static %}


{% block content %}



<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">About Us</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="{% static 'img/about.jpg' %}" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Welcome to Exxonsmith</p>
                    <h2>25 Years Experience</h2>
                </div>
                <div class="about-text">
                    <p>
                            Exxonsmith international limited is a registered Nigerian company, engaged in the provision of modern Engineering
                            related solutions for development of technology across Africa. The company acquired expertice in all the related
                            desciplines of engineering,procurement,construction and maintainance services. We are known for logistical mananagement
                            and all related services required for executing projects in the power,oil and gas sectores. Having successfully worked
                            in multiple facets of the Oil and Gas as well as other sectors,Exxonsmith has a formidable team of professionals with
                            vast range of experience that can compete with any company in terms of rendering qualitative services
                    </p>
                    <p>
                    We operate a culture of continous improvement and always look for the best and cost effective means of meeting our
                    customers requirements. We provide a broad range of services to public and private sector entities from
                    conceptualization of any projects until its final completion. Over the Years, Exxonsmith international limited has been
                    providing end-to-end Engineering systems solution to the Nigerian public and private sector
                    </p>
                    <a class="btn" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-statement">
    <div class="about-inner">
        <span class="iconify" data-icon="emojione:rocket"></span>
        <h3>Our Mission</h3>
        <p>To provide a continuosly improved Engineering,construction,logistics and marine service solutions to private
            and
            government sector clients in Nigeria</p>
    </div>
    <div class="about-inner">
        <span class="iconify" data-icon="heroicons-solid:light-bulb"></span>
        <h3>Our Vision</h3>
        <p>To be the the leading technical and technology driven company in Nigeria</p>
    </div>

    <div class="about-inner">
        <span class="iconify" data-icon="fxemoji:trophy"></span>
        <h3>Our Core Values</h3>
        <p>Integrity, Working intimately with our customers to anticipate their needs and meet their needs,being
            responsible
            partners with the communities we operate</p>
    </div>


</div>

<!-- About End -->





{% endblock %}