{% extends '../base.html' %}
{% load static %}


{% block content %}


<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Our Services</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Our Services</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Services</p>
            <h2>We Provide Services</h2>
        </div>
        <div class="row">
            {% for service in services %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{{ service.image.url }}" alt="Image">
                        <div class="service-overlay">
                            <p>  {{ service.description }} </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>{{ service.name }}</h3>
                        <!-- <a class="btn" href="img/service-1.jpg" data-lightbox="service">+</a> -->
                    </div>
                </div>
            </div>

            {% endfor %}         
           
        </div>
    </div>
</div>
<!-- Service End -->


{% endblock %}